:root.chaos-dark-theme {
  --color-dark-bg: #141221;
  --color-text-main: #dde5ed;
  --color-highlight: #fd77d7;
  --color-app-bg: #1e1d2f;
  --color-alt-row-bg: #4F5469;
  --color-hover-highlight: #ff5869;
}
