:root.rose-pine-theme {
  --color-dark-bg: #2a273f;
  --color-text-main: #e0def4;
  --color-highlight: #c4a7e7;
  --color-app-bg: #211f32;
  --color-alt-row-bg: #524d75;
  --color-hover-highlight: #9ccfd8;
}
