:root.serika-dark-theme {
  --color-dark-bg: #2c2e31;
  --color-text-main: #d1d0c5;
  --color-highlight: #e2b714;
  --color-app-bg: #323437;
  --color-alt-row-bg: #3a3d40;
  --color-hover-highlight: #ffeb3b;
}